/*img{
	width: 25%;
	height: 350px; 
	margin-left: 70px;
	margin-bottom: 30px;
	border:3px solid black;
	object-fit:cover;
}*/

.container{
	max-width: 1200px;
	margin: 100px 50px 0px 50px;
}
.gallery{
	margin:5px 0px 5px 40px;
	border: 1px solid black;
	float: left;
	width:350px;
	height: 390px;
}
.gallery img{
	width:100%;
	height:350px;
	object-fit: cover;
}
.desc{
	padding: 15px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;

}
@media only screen and (max-width:1200px) and (min-width:786px){
	.container{
		max-width:1100px;
		margin-top:100px;
	}
	.gallery{
		margin:5px 0px 5px 40px;
		border: 1px solid black;
	    float: left;
	    width:220px;
	    height: 240px;
	}
	.gallery img{
	    width:100%;
	    height:220px;
	    object-fit: cover;
    }
    .desc{
	    padding: 0.5px;
	    text-align: center;
	    font-weight: bold;
	    font-size: 15px;
	    font-family: "Times New Roman", Times, serif;

    }
}
.menu-toggle{
	color: black;
	float: right;
	line-height: 50px;
	font-size: 100 px;
	cursor: pointer;
	display: none;
}

header{
	position:absolute;
	top: 0;
	left: 0;
	padding: 20px 100px;
	background: #e0e0d1;
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	margin-bottom: 30px;
}

header .logo{
	margin-top: 25px;
	height: 50px;
	line-height: 24px;
	font-size: 24px;
	float: left;
	font-weight: bold;
}

header nav{
	float: right;
}
header nav ul{
	margin:0;
	padding: 0;
	display: flex;
}

header nav ul li{
	list-style: none;
}

header nav ul li a{
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	color: black;
	text-decoration: none;
	display: block;
}

header nav ul li a:hover,
header nav ul li a.active
{
	color: black;
}

.menu-toggle{
	color: black;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}
@media only screen and (max-width:768px) {
	.container{
		max-width:700px;
		margin:100px 10px 0px 10px;
	}
	.gallery{
		margin:5px 0px 5px 40px;
		border: 1px solid black;
	    float: left;
	    width:180px;
	    height: 200px;
	}
	.gallery img{
	    width:100%;
	    height:180px;
	    object-fit: cover;
    }
    .desc{
	    padding: 0.5px;
	    text-align: center;
	    font-weight: bold;
	    font-size: 15px;
	    font-family: "Times New Roman", Times, serif;

    }
	header{
		padding: 20px 20px;
	}
	.menu-toggle{
		display: block;
	}
	header nav{
		position: absolute;
		width: 100%;
		height: calc(100vh-50px);
		background: #333;
		top:50px;
		left: -100%;
		transition: 0.5s;
	}
	header nav.active{
		left:0;
	}
	header nav ul{
		display: block;
		text-align: center;
	}

	header nav ul li a{
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}
}
/* header a{
	text-decoration:none;
	color: black;
	display: inline-block;
	margin-right: 25px;
	float: right;
	margin-top: 20px;
	font-size: 20px;
	border-radius: 10px;
} */
div a{
	color: black;
	text-decoration: none;
}
div a:hover{
	background: #e0e0d1;
}
a{
	color: black;
}
a:hover{
	background: white;
	border-radius: 10px;	
}

a:active{
	font-weight: bold;
	color: black;
}
a:visited{
	color: black;
}

logo{
	font-size: 30px;
	color: black;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 0.5rem;
}

/* area img{
	float: left;
}

area span{
	float: right;
} */